<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClipSaver</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="top_bar">
        <div class="logo">
            <img src="/static/Clip_saver_logo.png" alt="">
        </div>
        
        <div class="menu">
            <img src="/static/menu.png" alt="">
        </div>
    </div>
    
    <div class="body_sector">
    <div class="yt_logo">
        <img src="/static/yt_icon.png" alt=""></img>
    </div>
    <div class="header_text">
        <h1>Download <b class="yt_text">YouTube</b> videos here</h1>        
    </div>
    <form action="{{ url_for('download_yt')}}" method="POST">
        <div class="yt_link_input">
          <input type="text" id="link" name="link" class="link_input" placeholder="Paste YouTube video link">
          <br>
        </div>
        
        <div class="post_btn">
          <img src="/static/paste.png" alt="" id="pasteBtn">
        </div>
        
        <div class="submit_button">
            <input type="submit" value="Download" class="sub_btn">
        </div>
      </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var pasteBtn = document.getElementById('pasteBtn');
            pasteBtn.addEventListener('click', function() {
                navigator.clipboard.readText()
                .then(function(text) {
                    var linkInput = document.getElementById('link');
                    if (isYouTubeLink(text)) {
                        linkInput.value = text;
                    } else {
                        console.log('Invalid YouTube link');
                        linkInput.value = '';
                    }
                })
                .catch(function(err) {
                    console.error('Failed to read clipboard contents: ', err);
                });
            });
        });
        
        function isYouTubeLink(text) {
            // Regular expression to check if the text is a valid YouTube link
            var youtubeLinkRegex = /^(https?:\/\/)?(www\.)?(youtube\.com|youtu\.be)\//;
            return youtubeLinkRegex.test(text);
        }
    </script>
</body>
</html>
